<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

<div class="card">
    <p class="light-text">{{light}}</p>
    <a href="#" style="color:black; font-size: 1.3rem; margin-left: 20px; margin-top:0; margin-bottom:0;">{{dark}}</a>
    <i class="bi bi-pie-chart" style="font-size:1.3rem; margin-left: 88%; margin-top: -2%"></i>
    <span class="badge rounded-pill bg-success">{{letter}}</span>
    <hr class="hr">
    <p style="margin-top:0; margin-bottom:0; margin-left:20px;">Recent Grades</p>
    <hr class="hr">
    <div class="btn" style="padding-right: 700px;"><i class="bi bi-calculator"></i>Quiz Average</div>
    <span class="badge rounded-pill bg-success">{{quiz}}</span>
    <hr class="hr">
    <div class="btn" style="padding-right: 700px;"><i class="bi bi-calculator"></i>Exam Average</div>
    <span class="badge rounded-pill bg-warning">{{exam}}</span>
    <hr class="hr">
    <a href="#" style="padding-left:87%;">view all work</a>
</div>
