.card {
    margin-left: 17%;
    margin-right: 16%;
    margin-bottom: 20px;
    height:auto;
    border-top: 5px solid;
    border-radius: 0 !important;
    border-color:rgb(96, 89, 89);
}

.badge {
    width: 6%;
    margin-left: 92%;
    margin-top: -3%;
}

.hr {
    margin:1.1%;
}

.bi {
    font-size: 2rem;
}

.light-text {
    margin-bottom:0;
    margin-left:20px;
    color:#737373;
    font-size: 0.9rem;
}