<div class="card">
    <div class="card-body">
        <h5 class="card-title">Academic Integrity</h5>
        <p class="card-text">By entering my course, I affirm that my work is my own, and that it follows the
            expectations outlined in the WVU Policy on Student Academic Integrity and any applicable professional or
            departmental standards.</p>
        <p class="card-text">We encourage students to review the following resources to make sure their actions are in
            alignment with this policy.</p>
        <div class="container">
            <div class="col">
                <div class="row">
                    <a class="card-text" href="#" style="margin-left:3%;">WVU Policy on Student Academic Integrity</a>
                </div>
                <div class="row">
                    <a class="card-text" href="#" style="margin-left:3%;">FAQs for Students</a>
                </div>
                <div class="row">
                    <a class="card-text" href="#" style="margin-left:3%;">WVU Academic Integrity Tutorial</a>
                </div>
                <div class="row">
                    <a class="card-text" href="#" style="margin-left:3%;">WVU Plagairism Avoidance Tutorial</a>
                </div>
            </div>
        </div>
        <h5 class="card-title">Classroom Expectations</h5>
        <p class="card-text">By entering my course, I affirm that I will follow the <a href="#">University’s expectations</a> regarding appropriate behavior within the remote classroom.</p>
    </div>
</div>