<div class="card">
    <div class="card-body">
        <h5 class="card-title">WVU Copyright</h5>
        <p class="card-text">All course materials, including lectures, class notes, quizzes, exams, handouts,
            presentations, and other materials provided to students fort his course are protected intellectual property.
            As such, the unauthorized purchase or sale of these materials may result in disciplinary sanctions under the
            Campus Student Code.</p>
        <p></p>
        <h5 class="card-title">Regular Sunday Maintenance</h5>
        <p class="card-text">eCampus is scheduled for maintenance every Sunday:</p>
        <div class="container">
            <div class="col">
                <div class="row">
                    <p class="card-text" style="margin-left:3%; font-weight:bold;">No Access – 3 a.m. to 8 a.m. EST</p>
                </div>
                <div class="row">
                    <p class="card-text" style="margin-left:3%;"><strong>Limited Access – 8 a.m. to Noon EST</strong>
                        (Courses may become accessible for short periods of time. However, regular access will not be
                        guaranteed until Sunday afternoon unless otherwise posted.)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>