<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

<div class="nav-side-menu">
    <a>
        <img src="https://ecampus.wvu.edu/branding/_1_1/CustomNavigationLogo.png?m=l330h4do" alt="" style="width: 112.5px; height: 75px; margin-left: 35px; margin-top:25px;">
    </a>
    <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
            <li>
                <button class="btn" [routerLink]="['']" style="width:175px; height: 54.4px; background-color: #262626; border:none">
                    <p style="color: white; text-align: left;"><i class="bi bi-bank2"></i> Institution Page</p>
                </button>
            </li>
            <li>
                <button class="btn" [routerLink]="['activity-stream']" style="width:175px; height: 54.4px; background-color: #262626; border:none">
                    <p style="color: white; text-align: left;"><i class="bi bi-globe"></i> Activity Stream</p>
                </button>
            </li>
            <li>
                <button class="btn" [routerLink]="['course']" style="width:175px; height: 54.4px; background-color: #262626; border:none">
                    <p style="color: white; text-align: left;"><i class="bi bi-journals"></i> Courses</p>
                </button>
            </li>
            <li>
                <button class="btn" href="#" style="width:175px; height: 54.4px; background-color: #262626; border:none">
                    <p style="color: white; text-align: left;"><i class="bi bi-calendar3"></i> Calendar</p>
                </button>
            </li>
            <li>
                <button class="btn" [routerLink]="['messages']" style="width:175px; height: 54.4px; background-color: #262626; border:none">
                    <p style="color: white; text-align: left;"><i class="bi bi-envelope"></i> Messages</p>
                </button>
            </li>
            <li>
                <button class="btn" [routerLink]="['grades']" style="width:175px; height: 54.4px; background-color: #262626; border:none">
                    <p style="color: white; text-align: left;"><i class="bi bi-journal-text"></i> Grades</p>
                </button>
            </li>
            <li>
                <button class="btn" [routerLink]="['tools']" style="width:175px; height: 54.4px; background-color: #262626; border:none">
                    <p style="color: white; text-align: left;"><i class="bi bi-journal"></i> Tools</p>
                </button>
            </li>
            <li>
                <button class="btn" href="#" style="width:175px; height: 54.4px; background-color: #262626; border:none">
                    <p style="color: white; text-align: left;"><i class="bi bi-box-arrow-left"></i> Sign Out</p>
                </button>
            </li>
            <div style="position: fixed-bottom">
                <div style="margin-left:5%; margin-top: 75%;"><a href="#" style="text-align:left;"><p class="link-text"><small>Privacy</small></p></a></div>
                <div style="margin-left:5%;"><a href="#" style="text-align:left;"><p class="link-text"><small>Terms</small></p></a></div>
            </div>
        </ul>
    </div>
    
</div>
