.card {
    background-color: #F0F0F0;
    text-decoration: none;
    font-size: .875rem;
    font-weight: 400;
    height: 54px;
    width: 100%;
    border-radius: 0 !important;
}

.card:hover {
    font-size: .875rem;
    font-weight: 400;
    background-color: white;
    text-decoration-color:black;
    text-decoration:underline;
}

